body {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #E3D8F1;
}

header {
  background-color: #004C54;
  padding: 15px;
}

header ul {
  float: right;
  color: #E3D8F1;
}

header li {
  display: inline-block;
  padding: 0px 5px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

header p {
  display: inline-block;
}

.heroImg {
  background-color: #000000;
  padding: 100px 15px;
}

.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #000000;
  text-align: left;
}

button {
  padding: 15px;
  background-color: #BF8B85;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

footer {
  background-color: #004C54;
  padding: 5px;
  color: white;
}

.citations {
  background-color: #000000;
}

footer ul {
  list-style: none;
  padding-left: 5px;
}

footer li {
  display: inline-block;
  padding: 0px 7px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
  background: black;
}

/* My UX Skills Section */
.flexContainer {
  display: flex;
  color:#000000;
  background-color:#E3D8F1;
  padding: 60px 30px;
}

.flexContainer div {
  width: 33%;
  padding: 25px;
}

/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #000000;
}

.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
  ;
}

.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

.img1 {
  grid-area: img1;
  align-self: center;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img1,
.img2,
.img3,
.content1,
.content2,
.content3 {
  padding: 80px;
}

.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
}

.content3 {
  grid-area: content3;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}